
.custom-card {
    background: linear-gradient(45deg, #3405a3, #8e2de2, #f27121, #fb8c00);
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    color: black;  /* Ensure text color is visible */
    width: auto;  /* Adjust the width */
}

.custom-card:hover {
    background: linear-gradient(45deg, #4a00e0, #8e2de2, #ff6e40, #fb8c00); /* Enhanced gradient */
    box-shadow: 0 15px 24px 0 rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.custom-card-clickable {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #3405a3, #8e2de2, #f27121, #fb8c00);
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    color: white;  /* Ensure text color is visible */
    width: auto;  /* Adjust the width */
    cursor: pointer;
}

.custom-card-light-text {
    color: white;
}

.custom-card h1 {
   color: white;
   font-size: 30px;
   margin-bottom: 5px;
   text-align: justify;
   font-family: 'Roboto';
   text-shadow:
           -1px -1px 0 #000,
            1px -1px 0 #000,
           -1px  1px 0 #000,
            1px  1px 0 #000;
}