/*
.lv-label {
    color: white;
    font-size: 15px;
    font-family: 'Poppins';
    text-align: center;
    text-shadow:
               -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
}

.lv-value {
    color: white;
    font-size: 15px;
    font-family: 'Poppins';
    text-align: center;
    text-shadow:
               -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
}*/

.labeled-value-layout {
    width: 100%; /* Make sure it uses full width */
    justify-content: space-between; /* Ensure equal spacing between items */
    align-items: center; /* Center items vertically */
}

.lv-label, .lv-value {
    color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.lv-label {
    flex: 1;
}
